<!--<div layout="row">-->
<!--<div flex="100" flex-gt-sm="70" flex-offset-gt-sm="15">-->
<!--<div layout="row" layout-wrap="" layout-margin="">-->
<!--<div flex="100" flex-gt-sm="30">-->
<!--&lt;!&ndash;<h4>Cases</h4>&ndash;&gt;-->
<!--<div layout="row" layout-padding="" layout-wrap="">-->
<!--<div flex-gt-sm="50" flex="100">-->
<!--<h6>Active Cases</h6>-->
<!--<md-input-container>-->
<!--<label for="ActiveCases">Active Cases</label>-->
<!--<input type="text" ng-model="Home.cases.active"-->
<!--id="ActiveCases" disabled>-->
<!--</md-input-container>-->
<!--</div>-->
<!--<div flex-gt-sm="50" flex="100">-->
<!--<h6>Pending Cases</h6>-->
<!--<md-input-container>-->
<!--<label for="Pending">Pending Cases</label>-->
<!--<input type="text" ng-model="Home.cases.pending"-->
<!--id="PendingCases" disabled>-->
<!--</md-input-container>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div flex="100" flex-gt-sm="40">-->
<!--&lt;!&ndash;<h4>Timespan</h4>&ndash;&gt;-->
<!--<div layout="row" layout-wrap="" layout-padding="">-->
<!--<div flex="100" flex-gt-sm="50">-->
<!--<h6>Start Date</h6>-->
<!--<md-datepicker-->
<!--ng-model="Home.start_date"-->
<!--md-placeholder="Start Date"></md-datepicker>-->
<!--</div>-->
<!--<div flex="100" flex-gt-sm="50">-->
<!--<h6>End Date</h6>-->
<!--<md-datepicker-->
<!--ng-model="Home.end_date"-->
<!--md-placeholder="Start Date"></md-datepicker>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div flex="100" flex-gt-sm="30">-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div layout="row" layout-wrap="">
    <div flex="100" flex-gt-sm="70" flex-offset-gt-sm="15">
        <div layout="row" flex="100">
            <md-whiteframe class="md-whiteframe-2dp" flex="100">
                <div layout-padding="">
                    <h1>Hello, {{ App.site.get_user().name }}.</h1>
                    <p>
                        You have <b>{{ Home.cases.length || 0 }} active case(s)</b> and <b>
                        {{ Home.pending_cases || 0 }} pending case(s)</b>.
                        <a class="md-button" ng-click="App.goto('/case/new')">New Case</a>
                    </p>
                </div>
            </md-whiteframe>
        </div>
    </div>
    <div flex="100"><span>&nbsp</span></div>
    <div flex="100" flex-gt-sm="70" flex-offset-gt-sm="15" layout="row" layout-wrap="">
        <div flex="100" ng-repeat="case in Home.cases" ng-click="App.goto('/case/c/' + case._id)">
            <span ng-repeat="(k, v) in case">
                <b>{{ k }}</b>: {{ v || 'N/A' }}
                <br>
            </span>
            <hr>
        </div>
    </div>
</div>
