<div layout="row" layout-padding layout-wrap>
    <div flex="100" flex-gt-sm="70" flex-offset-gt-sm="15">
        <h1>Home</h1>
        <p>
            Welcome to <b>sinebase</b>. This is a web application that acts as
            utility program for music production. This website will be as
            simplistic and un-aesthetic as possible until all of the background
            logic is configured. In the mean-time, it is <b>extremely
            experimental and should be treated as such</b>.
        </p>

        <h2>Feature Lists</h2>
        <p>Features available (or planned) are listed here.</p>

        <h3>Application Feature Wish-List</h3>
        <ul>
            <li>BPM information calculator</li>
            <li>Logarithmic repitch calculator</li>
            <li>Project external files analysis</li>
            <li>Automated project renders organization</li>
            <li>Project version controls</li>
            <li>SoundCloud-like streaming (but <i>better</i>)</li>
            <li>Max for Live integration</li>
            <li>Special use-case soundfile generators</li>
        </ul>

        <h3>System Feature Wish-List</h3>
        <ul>
            <li>
                Markdown notes, journals, and articles<br>
                <blockquote>
                    <i>
                        This is the same as the comment formatting in
                        <b>Reddit</b>,
                        and the README formatting on <b>Github</b>.
                    </i>
                </blockquote>
            </li>
            <li>
                Real-time analysis of audio<br>
                <blockquote>
                    <i>
                        Using the <b>CFFI</b> Python libraries in addition to
                        the C
                        programming language. Possibly with <b>JACK</b> audio
                        connection kit.
                    </i>
                </blockquote>
            </li>
            <li>
                Chromatic audio analysis<br>
                <blockquote>
                    <i>
                        This will deliver insight on the theoretical side of
                        music
                        production and composition.
                    </i>
                </blockquote>
            </li>
            <li>
                Artificially-intelligent sample classification<br>
                <blockquote>
                    <i>
                        The coup-de-gras of sample library organization and the
                        ultimate "what do I need to do next?" option.
                    </i>
                </blockquote>
            </li>
        </ul>


        <h2>Backend Information</h2>
        <p>The backend of this web application consists of a few languages, and
            a lot of libraries.</p>

        <h3>Python</h3>
        <p>
            For the bulk of the backend operations (as well as a form of
            "glue", the <b>Python programming language</b> will be used.) The
            web application is served by a <b>Flask</b> web server. In order to
            keep the amount of duplicate requests to a minimum, this
            application will be a <i>single-page application</i> with a <b>RESTful
            API</b> communication layer.
        </p>

        <h3>C</h3>
        <p>
            The <b>C programming language</b> will be used to perform any
            low-latency or high-speed processing or analysis.
        </p>


    </div>
</div>
